* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: #c999b1;
    color: #f3f3f3;
}
header {
    margin: 10px;
    padding: 5px;
    /*ovaj padding povećava kutiju za 10px po visini*/
    height: 90px;
    /*Ukupna visina kutije je 100px*/
    background-color: #e182e3;
    border-radius: 10px;

}
header h1 {
    height: 100%;
    text-align: center;
    font-size: 2em;
    line-height: 2.8125em;
    /*Visina 90px / 2 em => 2.8125em*/
}
main {
    margin: 10px;
    border-radius: 10px;
    
}
.center {
    margin-left: auto;
    margin-right: auto;
  }
  footer {
    
    background-color: #e182e3;
    margin: 10px;
    padding: 5px;
    height: 205px;
    border-radius: 10px;
}

footer ul {
    float: right;
    width: auto;
    height: auto;
    text-align: center;
    
    list-style-type: none;
}

footer ul li {
    
    display: inline-block;
    text-align: center;
    width: auto;
    height: auto;
}

footer ul li a {
    display: inline-block;
    width: auto;
    height: auto;
}

footer ul li a:hover{
    opacity: 0.5;
}

footer p {
    height: 100%;
    width: 100%;
    line-height: 5.625em;
    text-align: left
}